<div class="top-banner">
  <div class="banner-text">
    <h1>
      CĂMINUL <span>LOREM IPSUM</span><br />
      BUN VENIT!
    </h1>
  </div>

  <div class="banner-logo">
    <img src="assets/logo.jpg" alt="logo" />
  </div>

  <div class="logout-btn-container">
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>
</div>

<div class="page-header">
  <h2>Bine ai venit, Locatar!</h2>
  <button class="logout-btn" (click)="goToCereri()">Adaugă sau vizualizează cereri</button>
</div>

<!--<a routerLink="/cereri">Adaugă sau vizualizează cereri</a>-->

<!--<div class="page-content">-->
<!--  <div class="request-card" *ngFor="let cerere of cereri">-->
<!--    <div class="card-info">ID Cerere: {{ cerere.id }}</div>-->
<!--    <div class="card-info">Subiect: {{ cerere.specializare }}</div>-->
<!--    <div class="card-actions">-->
<!--      <button class="status-button">STATUS</button>-->
<!--      <button class="status-value">{{ cerere.status }}</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="bottom-banner">© IT GIRLIES 2025</div>
