<div class="top-banner">
  <h1>
    CĂMINUL <span>LOREM IPSUM</span><br />
    BUN VENIT!
  </h1>
</div>

<div class="login-wrapper">
  <div class="login-box">
    <img src="assets/logo.jpg" alt="logo" class="logo" />

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">

      <div class="form-group">
        <i class="fa fa-user icon"></i>
        <input
          type="text"
          placeholder="USERNAME"
          name="email"
          [(ngModel)]="email"
          required
        />
      </div>

      <div class="form-group">
        <i class="fa fa-lock icon"></i>
        <input
          type="password"
          placeholder="PAROLA"
          name="parola"
          [(ngModel)]="parola"
          required
        />
      </div>

      <button type="submit" [disabled]="!loginForm.form.valid">LOGIN</button>

      <div class="links">
        <a href="recover">Recuperare parolă</a>
        <a href="register">Înregistrare</a>
      </div>
    </form>
  </div>
</div>

<div class="bottom-banner">
  © IT GIRLIES 2025
</div>
