<div class="top-banner">
  <div class="banner-text">
    <h1>
      CĂMINUL <span>LOREM IPSUM</span><br />
      BUN VENIT!
    </h1>
  </div>

  <div class="banner-logo">
    <img src="assets/logo.jpg" alt="logo" />
  </div>

  <div class="logout-btn-container">
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>
</div>

<div class="page-header">
  <h2>Bine ai venit, Angajat!</h2>
  <button class="logout-btn" (click)="goToCereri()">Vizualizează cereri</button>
</div>

<!--<a routerLink="/cereri">Vizualizează cererile</a>-->

<!--<div class="page-content">-->
<!--  <div class="request-card" *ngFor="let cerere of cereri">-->
<!--    <div class="card-info">-->
<!--      <p><strong>ID CERERE:</strong> {{ cerere.id }}</p>-->
<!--    </div>-->
<!--    <div class="card-info">-->
<!--      <p><strong>CAMERA:</strong> {{ cerere.camera }}</p>-->
<!--    </div>-->
<!--    <div class="card-info">-->
<!--      <p><strong>DESCRIERE:</strong> {{ cerere.descriere }}</p>-->
<!--    </div>-->
<!--    <div class="card-actions">-->
<!--      <button class="accept-button">PREIA</button>-->
<!--      <button class="decline-button">X</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="bottom-banner">© IT GIRLIES 2025</div>
