<!--<div class="top-banner">-->
<!--  <div class="banner-text">-->
<!--    <h1>-->
<!--      CĂMINUL <span>LOREM IPSUM</span><br />-->
<!--      BUN VENIT!-->
<!--    </h1>-->
<!--  </div>-->

<!--  <div class="banner-logo">-->
<!--    <img src="assets/logo.jpg" alt="logo" />-->
<!--  </div>-->

<!--  <div class="logout-btn-container">-->
<!--    <button class="logout-btn">Logout</button>-->
<!--  </div>-->
<!--</div>-->



<!--<div class="page-header">-->
<!--  <h2>Dashboard Administrator</h2>-->
<!--</div>-->

<!--<div class="page-content">-->
<!--  <div class="request-card" *ngFor="let cerere of cereri">-->
<!--    <div class="card-info">-->
<!--      <p><strong>Nume:</strong> {{ cerere.nume }}</p>-->
<!--      <p><strong>Nume utilizator:</strong> {{ cerere.utilizator }}</p>-->
<!--    </div>-->
<!--    <div class="card-actions">-->
<!--      <button class="accept-button">ACCEPTĂ</button>-->
<!--      <button class="decline-button">REFUZĂ</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="bottom-banner">-->
<!--  © IT GIRLIES 2025-->
<!--</div>-->

<div class="top-banner">
  <div class="banner-text">
    <h1>
      CĂMINUL <span>LOREM IPSUM</span><br />
      BUN VENIT!
    </h1>
  </div>

  <div class="banner-logo">
    <img src="assets/logo.jpg" alt="logo" />
  </div>

  <div class="logout-btn-container">
    <a href="/users" class="logout-btn">Editeaza utilizatori</a>
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>
</div>



<div class="page-header">
  <h2>Dashboard Administrator</h2>
</div>

<div class="page-content">
  <div class="request-card" *ngFor="let cerere of cereri">
    <div class="card-info">
      <p><strong>Nume:</strong> {{ cerere.nume }}</p>
    </div>
    <div class="card-info">
      <p><strong>Nume utilizator:</strong> {{ cerere.utilizator }}</p>
    </div>
    <div class="card-actions">
      <button class="accept-button">ACCEPTĂ</button>
      <button class="decline-button">REFUZĂ</button>
    </div>
  </div>
</div>

<div class="bottom-banner">© IT GIRLIES 2025</div>
